:root{
    --primario: #00ABEB;
    --oscuro: #1E1E1E;

}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: poppins;
  }
.wrapper{
    display: flex;
    max-height: 100vh;
    min-height: 100vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:var(--primario);
}

.sidebar-princ{
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem;
    font-size: 0.8rem;
    color: white;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.sidebar-foot{
    background-color: var(--oscuro);
    color: white;
    padding: 2rem;
    font-size: 0.7rem;
}

#login{
    text-decoration: none;
    color: var(--primario);
    cursor: pointer;
}

#login:hover{
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 4;
    max-height: 100vh;
    min-height: 100vh;
}

.content h1{
    text-align: start;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 24rem;
}

.inputRegistro{

    height: 3rem;
    margin: .5rem 0;
    padding-left: 16px;
    font-weight: 500;

}

.inputRegistro::placeholder{
    color: var(--oscuro);
}


.logotipofoto{ 
    margin-top: 20%;
    margin-left: -25%;
    display: inline-block;
    width: 80%;}

.btnCrearCuenta{
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    margin-top: 1rem;
    background-color: var(--oscuro);
    color: white;
}

h1 span{
    color: var(--primario);
}