
  
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#botonEmergencia {
  display: flex;
  color: white;
  flex-direction: row;
  padding: 12px;
  gap: 16px;
  align-items: center;
  width: 223.42px;
  height: 44px;
  background-color: #00ABEB;
  border-radius: 8px ;
}


main {
width: 20vw;
background-color: green;

}

#botonMisOfertas{
  
  
 background-color: #00ABEB;
 padding: 10.5;
   font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  

}

.MenuBarraNegra{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  gap: 165px;

  position: absolute;
  width: 1240px;
height: 44px;
left: 20px;
top: 118px;

  background: #000000;

}

.saldos_section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto 0;
  }
  /*Estilos para la navbar*/

:root{
 
  --colortxtbtn: #fffaff;
  --navbarbg:#000000;
  --contentbg: #E5E5E5;
}


li {
  float: left;
  list-style-type: none;
}

ul {

  max-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--navbarbg);
 
}

li a {  
 
  display: block;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {  
  background-color: rgb(147, 147, 147);
}
#selectNegro{
 
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 20px;
gap: 165px;

position: absolute;
width: 1240px;
height: 44px;
left: 20px;
top: 118px;

background: #000000;
}
#textoBarra{
    color: white;
    background-color: #000000;
    border: #000000;
}