
  
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


  .botonEmergencia {
    display: flex;
    padding: 12px;
    gap: 16px;
    align-items: center;
    width: 223.42px;
    height: 44px;
    border: 8px solid #00ABEB;
}

