
  
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.botonEmergencia {
  display: flex;
  flex-direction: row;
  color:white;
  padding: 12px;
  gap: 16px;
  align-items: center;
  width: 223.42px;
  height: 44px;
  border: 8px solid #00ABEB;
}

main {
width: 20vw;
background-color: green;

}
.botonMisOfertas{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 16px;
    margin: 0 auto;
    width: 171px;
    height: 44px;
    background: #00ABEB; 

}

.MenuBarraNegra{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  gap: 165px;

  position: absolute;
  width: 1240px;
  height: 44px;
  left: 20px;
  top: 118px;

  background: #000000;

}

.saldos_section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto 0;
  }